Automatizacion Chatbot meta/Workflow n8n copia/Meta WhatsApp Chatbot - CON IA.json
{
  "name": "Meta WhatsApp Chatbot - CON IA",
  "nodes": [
    {
      "parameters": {
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3ce2aa3-1d5c-4be1-84e1-43f6924d0021",
      "name": "Webhook Verificacion (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        640
      ],
      "webhookId": "meta-webhook-verify"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "Token_Prova",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fff0eded-cf2d-494b-b9d1-9d954793864c",
      "name": "Token valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "63aa9de9-5da2-4922-be34-fcfeb51cce97",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        64,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "e0dfb47b-c812-4727-992f-4b9a67288b00",
      "name": "Responder 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        64,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-webhook",
        "options": {}
      },
      "id": "285f5a6c-ee3d-4691-adea-c096c72c6af8",
      "name": "Webhook Mensajes (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        960
      ],
      "webhookId": "meta-webhook-messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-message",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5a60c74-4357-4a35-9a26-a5e32d1463ef",
      "name": "Es un mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f-from",
              "name": "from",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "f-text",
              "name": "text",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "f-phone-id",
              "name": "phone_number_id",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "f-name",
              "name": "nombre",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ecadc4dc-daf2-4517-ab10-bc64ef962186",
      "name": "Extraer datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAiyriPWk84BRoY5SaTf8gbVZApA3bw8NOumO3YQVXnk62uJsJBC0m5wv3wUvXKZAoMV8zmN71HSoEsO8ZCHSWc3M9xGgCsjjZA71SJx5MI25NlvtR8ZCzW7zZBaZBdynKO6idb50kaF12WugDdxbIEPUfW0OjXTUsyKEs4fwQwGinyVnJJZCVTDJH2FiZAFE2AbZBHgZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.from, type: 'text', text: { body: $json.respuesta } }) }}",
        "options": {}
      },
      "id": "540ead4d-97d8-4633-830d-57f46ceab7e1",
      "name": "Enviar respuesta (Graph API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extraer datos').first().json;\n\n// CONOCIMIENTO del negocio (edítalo con los datos reales del cliente)\nconst conocimiento = `## Sobre la empresa\nPanadería artesana en Barcelona desde 1990.\n## Horario\nLunes a sábado 7:00-14:00 y 17:00-20:00. Domingos cerrado.\n## Productos\nPan de masa madre, bollería y tartas por encargo.\n## Precios\nPan desde 1,20 €. Tartas por encargo desde 18 €.\n## Encargos\nCon 24 h de antelación por WhatsApp o teléfono (600 000 000).`;\n\nconst system = `Eres el asistente virtual (IA) de la empresa.\nIDENTIFICACIÓN (obligatoria por ley): eres una IA, no una persona. Si te preguntan si eres humano, dilo con honestidad.\nCOMPORTAMIENTO: responde en español, amable y breve (máx. 3 frases). Solo sobre la empresa. Si escriben en otro idioma, responde en ese idioma.\nANTI-ALUCINACIONES: si la respuesta no está en el CONOCIMIENTO, di: \"No tengo esa información confirmada. Te paso con una persona del equipo.\" Nunca inventes precios, fechas ni condiciones.\n\nCONOCIMIENTO:\n${conocimiento}`;\n\nreturn [{ json: { ...d, system, mensaje: d.text } }];\n"
      },
      "id": "brain-prompt",
      "name": "Construir prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "REEMPLAZA_TU_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, system: $json.system, messages: [ { role: 'user', content: $json.mensaje } ] }) }}",
        "options": {}
      },
      "id": "brain-claude",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extraer datos').first().json;\nconst ia = $json;\nconst respuesta = (ia.content && ia.content[0] && ia.content[0].text)\n  ? ia.content[0].text\n  : 'Lo siento, ahora no puedo responder. Inténtalo en un momento.';\nreturn [{ json: { from: d.from, phone_number_id: d.phone_number_id, nombre: d.nombre, respuesta } }];\n"
      },
      "id": "brain-prep",
      "name": "Preparar envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1040
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Verificacion (GET)": {
      "main": [
        [
          {
            "node": "Token valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token valido?": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensajes (POST)": {
      "main": [
        [
          {
            "node": "Es un mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es un mensaje?": {
      "main": [
        [
          {
            "node": "Extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos": {
      "main": [
        [
          {
            "node": "Construir prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt": {
      "main": [
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Preparar envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar envio": {
      "main": [
        [
          {
            "node": "Enviar respuesta (Graph API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2f90d024-4cec-46f1-a1ed-1f2e07556aaf",
  "meta": {
    "instanceId": "ac445a9d5b3456a5428e421948d7f467dc8f3ff24fcee2dbf66446dad094bac3"
  },
  "id": "N1CFSYpTCOB0rKjv",
  "tags": []
}