Automatizacion Chatbot meta/whatsapp-bot/workflow-bot-sin-ia.json
{
  "name": "WhatsApp Bot - SIN IA (base de datos)",
  "nodes": [
    {
      "parameters": {
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-get",
      "name": "Webhook Verificacion (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ],
      "webhookId": "meta-webhook-get"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "REEMPLAZA_TU_VERIFY_TOKEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-iftoken",
      "name": "Token valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-challenge",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "node-403",
      "name": "Responder 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-webhook",
        "options": {}
      },
      "id": "node-post",
      "name": "Webhook Mensajes (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        560
      ],
      "webhookId": "meta-webhook-post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-message",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-ismsg",
      "name": "Es un mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -140,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f-from",
              "name": "from",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "f-text",
              "name": "text",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "f-phone-id",
              "name": "phone_number_id",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "f-name",
              "name": "nombre",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extraer",
      "name": "Extraer datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Respuestas del negocio (en producción: muévelas a Google Sheets, ver guía 3)\nconst d = $('Extraer datos').first().json;\nconst texto = (d.text || '').toLowerCase().normalize('NFD').replace(/\\p{Diacritic}/gu, '');\n\nconst respuestas = [\n  { claves: ['horario','abris','abrís','abierto','hora','horas'], respuesta: 'Abrimos de lunes a sábado de 7:00 a 14:00 y de 17:00 a 20:00. Domingos cerrado.' },\n  { claves: ['direccion','dirección','donde','dónde','ubicacion','ubicación','llegar'], respuesta: 'Estamos en C/ Mayor 12, Barcelona.' },\n  { claves: ['precio','precios','cuanto','cuánto','vale','coste','cuesta'], respuesta: 'Tenemos productos desde 1,20 €. Dime qué te interesa y te informo.' },\n  { claves: ['encargo','reservar','pedido','reserva'], respuesta: 'Puedes hacer tu encargo respondiendo por aquí o llamando al 600 000 000.' },\n  { claves: ['gracias'], respuesta: '¡A ti! ¿Algo más en lo que pueda ayudarte?' },\n];\n\nlet respuesta = 'No estoy seguro de eso. Te paso con una persona del equipo: info@empresa.com';\nfor (const r of respuestas) {\n  if (r.claves.some(c => texto.includes(c))) { respuesta = r.respuesta; break; }\n}\nreturn [{ json: { ...d, respuesta } }];\n"
      },
      "id": "node-buscar",
      "name": "Buscar respuesta (BD)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZA_TU_META_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.from, type: 'text', text: { body: $json.respuesta } }) }}",
        "options": {}
      },
      "id": "node-enviar",
      "name": "Enviar respuesta (Graph API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        560
      ]
    }
  ],
  "connections": {
    "Webhook Verificacion (GET)": {
      "main": [
        [
          {
            "node": "Token valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token valido?": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensajes (POST)": {
      "main": [
        [
          {
            "node": "Es un mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es un mensaje?": {
      "main": [
        [
          {
            "node": "Extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos": {
      "main": [
        [
          {
            "node": "Buscar respuesta (BD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar respuesta (BD)": {
      "main": [
        [
          {
            "node": "Enviar respuesta (Graph API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}