Automatizacion Chatbot meta/whatsapp-bot/workflow-bot-con-ia.json
{
  "name": "WhatsApp Bot - CON IA (Anthropic)",
  "nodes": [
    {
      "parameters": {
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-get",
      "name": "Webhook Verificacion (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        200
      ],
      "webhookId": "meta-webhook-get"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "REEMPLAZA_TU_VERIFY_TOKEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-iftoken",
      "name": "Token valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -140,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-challenge",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "node-403",
      "name": "Responder 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-webhook",
        "options": {}
      },
      "id": "node-post",
      "name": "Webhook Mensajes (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        560
      ],
      "webhookId": "meta-webhook-post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-message",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-ismsg",
      "name": "Es un mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -140,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f-from",
              "name": "from",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "f-text",
              "name": "text",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "f-phone-id",
              "name": "phone_number_id",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "f-name",
              "name": "nombre",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extraer",
      "name": "Extraer datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extraer datos').first().json;\n\n// CONOCIMIENTO del negocio (en producción: cárgalo desde Google Sheets, ver guía 4)\nconst conocimiento = `## Sobre la empresa\nPanadería artesana en Barcelona desde 1990.\n## Horario\nLunes a sábado 7:00-14:00 y 17:00-20:00. Domingos cerrado.\n## Productos\nPan de masa madre, bollería y tartas por encargo.\n## Precios\nPan desde 1,20 €. Tartas por encargo desde 18 €.\n## Encargos\nCon 24 h de antelación por WhatsApp o teléfono (600 000 000).`;\n\nconst system = `Eres el asistente virtual (IA) de la empresa.\nIDENTIFICACIÓN (obligatoria por ley): eres una IA, no una persona. Si te preguntan si eres humano, dilo con honestidad.\nCOMPORTAMIENTO: responde en español, amable y breve (máx. 3 frases). Solo sobre la empresa. Si escriben en otro idioma, responde en ese idioma.\nANTI-ALUCINACIONES: si la respuesta no está en el CONOCIMIENTO, di: \"No tengo esa información confirmada. Te paso con una persona del equipo.\" Nunca inventes precios, fechas ni condiciones.\n\nCONOCIMIENTO:\n${conocimiento}`;\n\nreturn [{ json: { ...d, system, mensaje: d.text } }];\n"
      },
      "id": "node-prompt",
      "name": "Construir prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "REEMPLAZA_TU_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, system: $json.system, messages: [ { role: 'user', content: $json.mensaje } ] }) }}",
        "options": {}
      },
      "id": "node-claude",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extraer datos').first().json;\nconst ia = $json;\nconst respuesta = (ia.content && ia.content[0] && ia.content[0].text)\n  ? ia.content[0].text\n  : 'Lo siento, ahora no puedo responder. Inténtalo en un momento.';\nreturn [{ json: { from: d.from, phone_number_id: d.phone_number_id, nombre: d.nombre, respuesta } }];\n"
      },
      "id": "node-prep",
      "name": "Preparar envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZA_TU_META_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.from, type: 'text', text: { body: $json.respuesta } }) }}",
        "options": {}
      },
      "id": "node-enviar",
      "name": "Enviar respuesta (Graph API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        560
      ]
    }
  ],
  "connections": {
    "Webhook Verificacion (GET)": {
      "main": [
        [
          {
            "node": "Token valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token valido?": {
      "main": [
        [
          {
            "node": "Responder Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensajes (POST)": {
      "main": [
        [
          {
            "node": "Es un mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es un mensaje?": {
      "main": [
        [
          {
            "node": "Extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos": {
      "main": [
        [
          {
            "node": "Construir prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt": {
      "main": [
        [
          {
            "node": "Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude": {
      "main": [
        [
          {
            "node": "Preparar envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar envio": {
      "main": [
        [
          {
            "node": "Enviar respuesta (Graph API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}